
<footer class="navbar navbar-expand-lg navbar-dark ftr fixed-bottom">
    <div class="container">
        <div class="card-title">
            <p class="lead m-1 text-white saqr-footer-1">
            Copyright &copy; <b id="year">2022</b> <a href="/copyright"><span class="saqr-footer">ODS</span> <b class="saqr-footer">|</b> <span class="saqr-footer">S A Q R </span></a>
            </p>
        </div>
    </div>
</footer>

</section>
<!-- min js -->
<script src="/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/script.js"></script>

</body>
</html>