<%- include('./partials/base_1') %>






<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title"><i class="fa-solid fa-shield icon-1"></i> Moderation : <a href="/guild" class="btn primary-1 text-light">back</a></h1>
        </div>
        <!--  -->
        <div class="row row-cols-1 row-cols-md-1 g-1">

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/ban</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#ban">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">bans a member.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/kick</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#kick">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">kicks a member.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/lock</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#lock">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf d-fl">disables @everyone from sending messages in specific channel.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/move</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#move">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">moves a member to another voice channel.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/unlock</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#unlock">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">removes denied sending messages from @everyone in specific channel.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/imprisonment</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#imprisonment">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">Imprisoning someone and preventing them from seeing the channels</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/unimprisonment</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center"  data-bs-toggle="modal" data-bs-target="#unimprisonment">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">unimprisonment a member.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/mute</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#mute">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">mute a member from text channels so they cannot type.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/unmute</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center"  data-bs-toggle="modal" data-bs-target="#unmute">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">unmutes a member.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/role</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#role">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">add/remove role(s) for a member.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/purge</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#purge">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">cleans messages from a channel.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/roles</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#roles">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">Get a list of server roles and member counts.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/temprole</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#temprole">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">Assign / NO Assign a role for limited time that persists if the user leaves and joins.</p>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</section>



<!-- <section class="py-5"></section> -->
















<!-- ban -->
<div class="modal fade" id="ban" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT BAN SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT BAN SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- kick -->
<div class="modal fade" id="kick" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT KICK SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT KICK SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- lock -->
<div class="modal fade" id="lock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT LOCK SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT LOCK SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>




<!-- move -->
<div class="modal fade" id="move" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT MOVE SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT MOVE SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>



<!-- unlock -->
<div class="modal fade" id="unlock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT UNLOCK SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT UNLOCK SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>



<!-- imprisonment -->
<div class="modal fade" id="imprisonment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT IMPRISONMENT SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT IMPRISONMENT SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- unimprisonment -->
<div class="modal fade" id="unimprisonment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT UNIMPRISONMENT SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT UNIMPRISONMENT SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- mute -->
<div class="modal fade" id="mute" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT MUTE SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT MUTE SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>



<!-- unmute -->
<div class="modal fade" id="unmute" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT UNMUTE SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT UNMUTE SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- role -->
<div class="modal fade" id="role" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT ROLE SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT ROLE SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- purge -->
<div class="modal fade" id="purge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT PURGE SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT PURGE SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- roles -->
<div class="modal fade" id="roles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT ROLES SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT ROLES SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- temprole -->
<div class="modal fade" id="temprole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT TEMPROLE SETTINGS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        


            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT TEMPROLE SETTINGS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">admin</option>
            </select>

            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
            </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select ..</option>
                <option value="1">cmd-cod</option>
                <option value="2">command</option>
            </select>

            
            <div class="modal-body">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">TIME</h5>
            </div>
            <div class="col-md-3 position-relative">
                <input type="text" class="form-control" id="validationTooltip05" value="1" required>
            </div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>






























<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        Success 👌
    </div>
</div>
</div>











<%- include('./partials/footer') %>