<%- include('./partials/base_1') %>




<!-- disabled -->

<section class="text-center py-5 d-flex justify-content-center align-items-center">
    <div class="container py-5">
        <div class="col-sm">
            <div class="card text-light mb-3 card-3" style="border-radius: 10px;">
                <div class="card-header p-5">
                    <h1 class="text-white text">Claim your daily reward</h1>
                </div>
                <a href="/coins"><button class="btn"><div class="card-body text-light mb-3 card-3 p-5 icon-coins-1" style="border-radius: 10px;">
                    <i class="fas fa-gift icon-coins"></i><br>
                </div>
                <h3 style="color: var(--color5);">Time Left 23h 56m 25s</h3>
                </button></a>
                <div class="card-body">
                    <p><i class="fas fa-exclamation-circle" style="color: var(--color5);"></i> You can get up to 3000 every day.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <i class="fas fa-gift" style="width: auto; height: auto;"></i> -->




<%- include('./partials/footer') %>