<%- include('./partials/base_1') %>






<section class="main text div first">
    <div class="container">
        <div class="text-center">
            <h1 class="text-light display-4 pt-5 developers"><i class="fas fa-code"></i> فريق العمل</h1><br><br>
            <div class="row text-center row-cols-1 row-cols-md-3 g-5 info-maker">
                <div class="col-sm">
                    <div class="card text-light mb-3 saqr-5 card-3">
                        <div class="h1 mt-3 icon-1">
                            <img class="img-fluid w-25 saqr-img lds-circle" src id="avatar-1">
                        </div>
                        <div class="card-body text-center">
                            <h6 class="card-title mb-3"><strong id="username-1"></strong></h6>
                            <p class="card-title saqr-color-logo mb-3 h3">Founder & Bot Developer</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-light mb-3 saqr-5 team-5 card-3">
                        <div class="h1 mt-3 icon-1">
                            <img class="img-fluid w-25 saqr-img" src id="avatar-2">
                        </div>
                        <div class="card-body text-center">
                            <h6 class="card-title mb-3"><strong id="username-2"></strong></h6>
                            <p class="card-title saqr-color-logo mb-3 h3">Founder & Bot Developer</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-light mb-3 saqr-5 card-3">
                        <div class="h1 mt-3 icon-1">
                            <img class="img-fluid w-25 saqr-img" src id="avatar-3">
                        </div>
                        <div class="card-body text-center">
                            <h6 class="card-title mb-3"><strong id="username-3"></strong></h6>
                            <p class="card-title saqr-color-logo mb-3 h3">Owner & Web Developer</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>






    <%- include('./partials/footer') %>