<%- include('./partials/base_1') %>




<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title">Welcome Saqr : <a href="/dashboard" class="btn primary-1 text-light">back</a></h1>
        </div>
        <!--  -->
        <div class="row row-cols-1 row-cols-md-2 g-1">
        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light text-center">Language</h1>
                </div>
                <div class="card-body">

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Select ..</option>
                        <option value="1">Auto Role</option>
                        <option value="2">Auto Role</option>
                        <option value="3">Auto Role</option>
                        <option value="4">Auto Role</option>
                        <option value="5">Auto Role</option>
                        <option value="6">Auto Role</option>
                        <option value="7">Auto Role</option>
                        <option value="8">Auto Role</option>
                        <option value="9">Auto Role</option>
                        <option value="10">Auto Role</option>
                    </select>

                </div>
            </div>
        </div>
                    
        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light">Auto Role</h1>
                </div>
                <div class="card-body">

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Select ..</option>
                        <option value="1">cmd-cod</option>
                        <option value="2">command</option>
                    </select>

                </div>
            </div>
        </div>

    </div>
<!--  -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-shield icon-1"></i> Moderation</h1>
                </div>
                <div class="card-body">
                    <a href="/admin" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-clock-rotate-left icon-1"></i> Logs</h1>
                </div>
                <div class="card-body">
                    <a href="/logs" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1 maintenance">
                <div class="card-header">
                    <h1 class="h5 hhhh">soon <b class="icon-3-s"><i class="fa-solid fa-screwdriver-wrench icon-3"></i></b></h1>
                </div>                 
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-user-plus icon-1"></i> welcome</h1>
                </div>
                <div class="card-body">
                    <button href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" disabled>Configure</button>
                    <button href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2" disabled>Disable</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-brands fa-youtube icon"></i> YouTube</h1>
                </div>
                <div class="card-body">
                    <a href="/youtube" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-volume-high icon-1"></i> Temp Room</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-Submit icon-1"></i> Submit</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-ticket icon-1"></i> Tickets</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-palette icon-1"></i> Color</h1>
                </div>
                <div class="card-body">
                    <a href="/color" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <!-- <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-coins icon-1"></i> coins</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div> -->

        <!-- <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fas fa-qrcode icon-1"></i> verify</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div> -->

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light"><i class="fa-solid fa-flag-checkered icon-1"></i> rating</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light h6 st-12"><i class="fa-solid fa-sitemap icon-1"></i> Organizing Discord Servers</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light h6"><i class="fa-solid fa-flag icon-1"></i> Reports</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light h6"><i class='bx bx-party icon-1'></i> Giveaways</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light h6"><i class="fa-solid fa-address-card icon-1"></i> Suggestion</h1>
                </div>
                <div class="card-body">
                    <a href="#" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2">Configure</a>
                    <a href="#" class="btn primary-3 text-light pe-3 px-3 pt-2 pb-2 m-2">Disable</a>
                </div>
            </div>
        </div>


        </div>
    </section>































<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <!-- <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div> -->
    <div class="toast-body">
        <i class="fa-solid fa-circle-check"></i> <strong>Hello, world! This is a toast message.</strong> 
    </div>
    </div>
</div>

<section class="py-5"></section>






<%- include('./partials/footer') %>