<%- include('./partials/base_1') %>


<!-- Roles logs
Channels logs
Voice logs
Invites Links logs
Boosts logs
Messages logs
Join and leave log -->



<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title"><i class="fa-solid fa-clock-rotate-left icon-1"></i> Logs : <a href="/guild" class="btn primary-1 text-light">back</a></h1>
        </div>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Roles logs</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color"><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Channels logs</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Voice logs</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Invites Links logs</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Boosts logs</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Messages logs</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd">Join and leave log</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">Auto Role</option>
                            <option value="2">Auto Role</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="h3 m-0 p-0 ssss">
                            <div class="form-check form-switch float-end h3 m-0 p-0 ssss d-inline-flex">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            <input type="color" class="form-control form-control-color d-inline-flex float-start" id="exampleColorInput" value="#9400d3" title="Choose your color">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>













<%- include('./partials/footer') %>