<%- include('./partials/base_1') %>






<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title"><i class="fa-solid fa-sitemap icon-1"></i> Organizing Discord
                Servers: <a href="/guild" class="btn primary-1 text-light">back</a></h1>
        </div>
        <!--  -->
        <div class="row row-cols-1 row-cols-md-1 g-1">

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/antilinks</h1><br>
                        <button type="button"
                            class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#antilinks">Edit</button>
                        <div
                            class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">To prevent links from being sent to the server</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/antispam</h1><br>
                        <button type="button"
                            class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#antispam">Edit</button>
                        <div
                            class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">To prevent repeated messages</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/onlylanguage add</h1><br>
                        <button type="button"
                            class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#lock">Edit</button>
                        <div
                            class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked"> <!--checked --> 
                        </div>
                        <p class="h6 sfsf d-fl">To select a language to speak in a particular ROM</p>
                    </div>
                    <div class="card-body">

                        
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Select ..</option>
                        <option value="1">Auto Role</option>
                        <option value="2">Auto Role</option>
                        <option value="3">Auto Role</option>
                        <option value="4">Auto Role</option>
                        <option value="5">Auto Role</option>
                        <option value="6">Auto Role</option>
                        <option value="7">Auto Role</option>
                        <option value="8">Auto Role</option>
                        <option value="9">Auto Role</option>
                        <option value="10">Auto Role</option>
                    </select>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<!-- <section class="py-5"></section> -->
















<!-- antilinks -->
<div class="modal fade" id="antilinks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT BAN SETTINGS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <div class="modal-header">
                    <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT BAN SETTINGS</h5>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select ..</option>
                    <option value="1">admin</option>
                </select>

                <div class="modal-header">
                    <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select ..</option>
                    <option value="1">cmd-cod</option>
                    <option value="2">command</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- antilinks -->
<div class="modal fade" id="antilinks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT KICK SETTINGS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <div class="modal-header">
                    <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT KICK SETTINGS</h5>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select ..</option>
                    <option value="1">admin</option>
                </select>

                <div class="modal-header">
                    <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select ..</option>
                    <option value="1">cmd-cod</option>
                    <option value="2">command</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- lock -->
<div class="modal fade" id="lock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT LOCK SETTINGS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <div class="modal-header">
                    <h5 class="modal-title text-light gggg" id="exampleModalLabel">EDIT LOCK SETTINGS</h5>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select ..</option>
                    <option value="1">admin</option>
                </select>

                <div class="modal-header">
                    <h5 class="modal-title text-light gggg" id="exampleModalLabel">ENABLED CHANNELS</h5>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select ..</option>
                    <option value="1">cmd-cod</option>
                    <option value="2">command</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn primary-2 text-light pe-3 px-3 pt-2 pb-2 m-2" id="liveToastBtn"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



























<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Success 👌
        </div>
    </div>
</div>











<%- include('./partials/footer') %>