<%- include('./partials/base_1') %>





<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title"><i class="fa-solid fa-ticket icon-1"></i> Tickets : <a
                    href="/guild" class="btn primary-1 text-light">back</a></h1>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-3">

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd st-12">tickets name</h1>
                    </div>
                    <div class="card-body">
                        <input class="form-control" type="text" value="" placeholder="tickets_name"
                            aria-label="default input example">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd st-12">category</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">text 1</option>
                            <option value="2">text 2</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd st-12">support role</h1>
                    </div>
                    <div class="card-body">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Select ..</option>
                            <option value="1">text 1</option>
                            <option value="2">text 2</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <!-- <h6 class="set text-light d-inline-flex h6">allow mention</h6><br> --><br>
                        <div
                            class="form-check form-switch h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <p class="set text-light d-inline-flex  float-start h6">allow mention</p>
                            <input class="form-check-input float-end" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-1 g-3">

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-body">
                        <h1 class="set text-light text-emd st-12">reason</h1>
                    </div>
                    <div class="card-body">
                        <input class="form-control" type="text" value="" placeholder="مدري"
                            aria-label="default input example">
                    </div>
                    <div class="card-footer text-white">
                        <div class="col">
                            <div class="card bg-dark m-1 p-1">
                                <div class="card-body pb-4">
                                    <p class="card-text cmd-2 float-start h3">text-1</p>
                                    <button class="btn text-white float-end edit" type="button" role="switch"
                                        id="flexSwitchCheckChecked"><i class="fa-solid fa-trash p-2"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-dark m-1 p-1">
                                <div class="card-body pb-4">
                                    <p class="card-text cmd-2 float-start h3">text-1</p>
                                    <button class="btn text-white float-end edit" type="button" role="switch"
                                        id="flexSwitchCheckChecked"><i class="fa-solid fa-trash p-2"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-dark m-1 p-1">
                                <div class="card-body pb-4">
                                    <p class="card-text cmd-2 float-start h3">text-1</p>
                                    <button class="btn text-white float-end edit" type="button" role="switch"
                                        id="flexSwitchCheckChecked"><i class="fa-solid fa-trash p-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>











    <%- include('./partials/footer') %>