<%- include('./partials/base_1') %>






<section class="text-center py-5 d-flex justify-content-center align-items-center">
    <div class="container py-5">
        <div class="col-sm">
            <div class="card text-light mb-3 card-3" style="border-radius: 10px;">
                <div class="card-header p-5">
                    <h1 class="text-white text">do your account</h1>
                </div>
                <a href="/verify"><button class="btn"><img src="https://api.qrserver.com/v1/create-qr-code/?data=otpauth%3A%2F%2Ftotp%2FODS%20Bot%20(889445030899630081)%3Fsecret%3Dz63c6jpnhaz77umxtkke7rgjjk6zjo77&amp;bgcolor=9400d3&color=FFFFFF" class=" mb-3 p-5 verify" style="border-radius: 10px; width: auto; height: auto;"></button></a>
            </div>
        </div>
    </div>
</section>






<%- include('./partials/footer') %>