<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- open graph  -->
  <!-- <meta name="theme-color" content="#00937f">
  <meta name="og:title" content="ذِكر">
  <meta property="og:site_name" content="بوت ذِكر">
  <meta name="description" content="بوت إسلامي يهدف إلى نشر ذكر الله وتفقيه وتعليم الناس من خلال وسائل جديدة، جميلة، ومبتكرة">
  <meta name="og:url" content="https://4kr-bot.com/">
  <meta property="og:locale" content="ar-SA">
  <meta name="og:description" content="بوت إسلامي يهدف إلى نشر ذكر الله وتفقيه وتعليم الناس من خلال وسائل جديدة، جميلة، ومبتكرة">
  <meta name="twitter:card" content="summary">
  <meta name="og:image" content="https://cdn.discordapp.com/attachments/845033464357191691/943196997123440640/Picsart_22-02-15_20-26-59-210.png">
  
  twitter card
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="ذِكر">
  <meta name="twitter:site" content="بوت ذِكر">
  <meta name="twitter:description" content="بوت إسلامي يهدف إلى نشر ذكر الله وتفقيه وتعليم الناس من خلال وسائل جديدة، جميلة، ومبتكرة">
  <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/845033464357191691/943196997123440640/Picsart_22-02-15_20-26-59-210.png">
  <meta name="twitter:url" content="https://4kr-bot.com/">
  <meta name="twitter:locale" content="ar-SA">
  <meta name="twitter:type" content="website"> -->
    <!--  -->
  <link rel="icon" href="{{ url_for('static', filename='image/avatar.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ url_for('static', filename='css/min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/media.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://unpkg.com/discord-fetcher@1.0.3/index.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!--  -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="https://cdn.discordapp.com/attachments/799615725097451570/929359967935418428/5151251252521.png" alt="" width="60px" height="60px" style="border-radius: 50%;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link active saqr" href="#">Commands</a></li>
        <li class="nav-item"><a class="nav-link active saqr" href="#">FAQ</a></li>
        <li class="nav-item"><a class="nav-link active saqr" href="#">Store</a></li>
        <li class="nav-item"><a class="nav-link active saqr" href="#">Items</a></li>
        <li class="nav-item"><a class="nav-link active saqr" href="#">Community</a></li>
        <li class="nav-item d-sm-none d-block"><a class="nav-link active saqr" href="#">Support</a></li>
      </ul>
    </div>
        <li class="nav-item d-none d-sm-block"><a class="nav-link active saqr" href="#">Support</a></li>
        <li class="nav-item"><a class="nav-link active saqr-1" href="#">Login</a></li>
  </div>
</nav>



{% block body %}
{% endblock %}



<!-- min js -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/min.js') }}"></script>

</body>
</html>