{% extends 'base_2.html' %}
{% block body %}







<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title">Select a server</h1>
        </div>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col  text-center">
            <div class="card h-75 card-1">
                <div class="card-body">
                    <div class="sc-1vemdld-4 ffArKW"></div>
                    <img src="/static/image/avatar.webp" class="gLbHXr iSheRQ justify-content-center align-items-center w-50" alt="...">
                <p class="card-text">This </p>
                </div>
            </div>
            <div class="pt-2 ">
                <small class="text-muted float-end">ODS
                    <br><b class="text-muted float-end">admin</b>
                </small>
                <a href="/guild/716783245387235410"><button class="btn primary-1 card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">Setup</button></a>
                </div>
            </div>

            <div class="col  text-center">
                <div class="card h-75 card-1">
                    <div class="card-body">
                        <div class="sc-1vemdld-4 ffArKW"></div>
                        <img src="/static/image/avatar.webp" class="gLbHXr iSheRQ justify-content-center align-items-center w-50" alt="...">
                    <p class="card-text">This </p>
                    </div>
                </div>
                <div class="pt-2 ">
                    <small class="text-muted float-end">ODS
                        <br><b class="text-muted float-end">admin</b>
                    </small>
                    <button class="btn primary-1 card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">Setup</button>
                    </div>
                </div>

                <div class="col  text-center">
                    <div class="card h-75 card-1">
                        <div class="card-body">
                            <div class="sc-1vemdld-4 ffArKW"></div>
                            <img src="/static/image/avatar.webp" class="gLbHXr iSheRQ justify-content-center align-items-center w-50" alt="...">
                        <p class="card-text">This </p>
                        </div>
                    </div>
                    <div class="pt-2 ">
                        <small class="text-muted float-end">ODS
                            <br><b class="text-muted float-end">admin</b>
                        </small>
                        <button class="btn primary-1 card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">Setup</button>
                        </div>
                    </div>

                    <div class="col  text-center">
                        <div class="card h-75 card-1">
                            <div class="card-body">
                                <div class="sc-1vemdld-4 ffArKW"></div>
                                <img src="/static/image/avatar.webp" class="gLbHXr iSheRQ justify-content-center align-items-center w-50" alt="...">
                            <p class="card-text">This </p>
                            </div>
                        </div>
                        <div class="pt-2 ">
                            <small class="text-muted float-end">ODS
                                <br><b class="text-muted float-end">admin</b>
                            </small>
                            <button class="btn primary-1 card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">Setup</button>
                            </div>
                        </div>

                        <div class="col  text-center">
                            <div class="card h-75 card-1">
                                <div class="card-body">
                                    <div class="sc-1vemdld-4 ffArKW"></div>
                                    <img src="/static/image/avatar.webp" class="gLbHXr iSheRQ justify-content-center align-items-center w-50" alt="...">
                                <p class="card-text">This </p>
                                </div>
                            </div>
                            <div class="pt-2 ">
                                <small class="text-muted float-end">ODS
                                    <br><b class="text-muted float-end">admin</b>
                                </small>
                                <button class="btn primary-1 card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">Setup</button>
                                </div>
                            </div>

                            <div class="col  text-center">
                                <div class="card h-75 card-1">
                                    <div class="card-body">
                                        <div class="sc-1vemdld-4 ffArKW"></div>
                                        <img src="/static/image/avatar.webp" class="gLbHXr iSheRQ justify-content-center align-items-center w-50" alt="...">
                                    <p class="card-text">This </p>
                                    </div>
                                </div>
                                <div class="pt-2 ">
                                    <small class="text-muted float-end">ODS
                                        <br><b class="text-muted float-end">admin</b>
                                    </small>
                                    <button class="btn primary-1 card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">Setup</button>
                                    </div>
                                </div>

    </div>

</section>



<section class="py-5"></section>



{% endblock %}