{% extends 'base_1.html' %}
{% block body %}

<!-- target="_blank" -->


<section class="py-lg-5 my--lg-5 py-5">
  <div class="container">
    <div class=" text-center justify-content-center align-items-center">
      <h1 class="h1 text-white pb-3 saqr-1-2">ODS</h1>
      <p class="h4 saqr-2 pb-3">Join millions of users around the world in Discord's largest fun economic bot.</p>
      <button type="button" class="btn primary pe-5 px-5">INVITE NOW</button>
    </div>
  </div>
</section>

<hr id="hr">


<!-- my Services -->
<section class="py-5">
  <div class="container">
    <div class="text-center">
      <h2 id="saqr-6" class="text-center h1 text-white title">What is it all about?</h2>
      <br>
      <br>
      <div class="row text-center row-cols-1 row-cols-md-4 g-3">
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3">
            <div class="developers-1"></div>
            <div class="h1 mt-3">
            <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">عنوان</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">نبذه</p>
            </div>
          </div>
        </div>
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3">
            <div class="developers-1"></div>
            <div class="h1 mt-3">
            <i class="fa-solid fa-users"></i>
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">عنوان</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">نبذه</p>
            </div>
          </div>
        </div>
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3">
            <div class="developers-1"></div>
            <div class="h1 mt-3">
            <i class="fa-solid fa-face-grin-beam"></i>
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">عنوان</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">نبذه</p>
            </div>
          </div>
        </div>
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3">
            <div class="developers-1"></div>
            <div class="h1 mt-3">
            <i class="fa-solid fa-gear"></i>
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">عنوان</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">نبذه</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

<!-- Reviews -->
<section class="py-5">
  <div class="container">
    <div class="text-center">
      <h2 id="saqr-6" class="text-center h1 text-white title">Reviews ( <b class="color">89% Positive</b> )</h2>
      <p id="saqr-6" class="text-center h5 text-white">jfdloihgofi hsfdlku fgf hsukdylhuk</p>
      <br>
      <br>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3 csqar-1">
            <div class="card-body">
              <h1 class="h1 text-start">rhuestrd</h1>
              <p><b class="color-1">Positive Review <i class="fa-solid fa-thumbs-up"></i></b> <b class="float-end">4 months ogo</b></p>
            <hr>
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">Lorem ipsum dolor sit amet consectetur.</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates obcaecati in minima ab, harum vel labore explicabo itaque qui cum iusto numquam voluptatem eligendi sint ex sapiente illo a. Ipsam!</p>
              <hr>
              <p class="card-title mb-3 aik-saqr-1 h4 float-end"><img src="/static/image/avatar.webp" width="50" height="50" class="ims">ODS#6062
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3 csqar-1">
            <div class="card-body">
              <h1 class="h1">rhuestrd</h1>
              <p><b class="color-2">Positive Review <i class="fa-solid fa-thumbs-down"></i></b> <b class="float-end">4 months ogo</b></p>
            <hr>
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">Lorem ipsum dolor sit amet consectetur.</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates obcaecati in minima ab, harum vel labore explicabo itaque qui cum iusto numquam voluptatem eligendi sint ex sapiente illo a. Ipsam!</p>
              <hr>
              <p class="card-title mb-3 aik-saqr-1 h4 float-end"><img src="/static/image/avatar.webp" width="50" height="50" class="ims">ODS#6062
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm" id="saqr-7">
          <div class="card text-light mb-3 card-3 csqar-1">
            <div class="card-body">
              <h1 class="h1">rhuestrd</h1>
              <p><b class="color-1">Positive Review<i class="fa-solid fa-thumbs-up"></i></b> <b class="float-end">4 months ogo</b></p>
            <hr>
              <h6 class="card-title mb-3 aik-saqr-1-2 h1">Lorem ipsum dolor sit amet consectetur.</h6>
              <p class="card-title mb-3 aik-saqr-1 h4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates obcaecati in minima ab, harum vel labore explicabo itaque qui cum iusto numquam voluptatem eligendi sint ex sapiente illo a. Ipsam!</p>
              <hr>
              <p class="card-title mb-3 aik-saqr-1 h4 float-end"><img src="/static/image/avatar.webp" width="50" height="50" class="ims">ODS#6062
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="py-3 h1">
        <a href="/reviews"><button type="button" class="btn primary text-center pe-5 px-5">More</button></a>
      </div>
    </div>
  </div>
</section>
  <br><br>


  {% endblock %}