{% extends 'base_2.html' %}
{% block body %}





<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title">Admin</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">

        <div class="col">
            <div class="card bg-dark m-1">
                <div class="card-body">
                    <h1 class="set text-light">Auto Role</h1>
                </div>
                <div class="card-body">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Auto Role</option>
                        <option value="1">Auto Role</option>
                        <option value="2">Auto Role</option>
                        <option value="3">Auto Role</option>
                        <option value="4">Auto Role</option>
                        <option value="5">Auto Role</option>
                        <option value="6">Auto Role</option>
                        <option value="7">Auto Role</option>
                        <option value="8">Auto Role</option>
                        <option value="9">Auto Role</option>
                        <option value="10">Auto Role</option>
                    </select>
                </div>
            </div>
        </div>


        </div>
    </section>





{% endblock %}